html,body,.App{
  height: 100%;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.4);
}
.contact{
  height: 100vh;
  background-image:url('./tree.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home-img{
  width: 100%;
  height:100vh;
  object-fit: cover;
}
